services:
    basicpitch:
        build:
            context: .
            dockerfile: basicpitch.dockerfile
        volumes:
            - ./wav_output:/wav_output
            - ./midi_output:/midi_output
            - ./scripts:/scripts
        command: ["bash", "/scripts/run_basic_pitch.sh"]
        deploy:
            resources:
                reservations:
                    devices:
                        - driver: nvidia
                          count: all
                          capabilities: [gpu]
        runtime: nvidia
